<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Starting page</title>
</head>
<body style="background-color: #2a2a2a">
<div>
    <h1 style="color: white">Это панель управления Повелителями и планетами</h1>
</div>
<div>
    <p style="color: white">Выберите работу над какими данными хотите провести</p>
</div>
<form action="/lords">
    <button id="butlord" type="submit">Меню повелителя</button>
</form>
<form action="/planets">
    <button id="butplanet" type="submit">Меню планеты</button>
</form>
</body>
</html>